.flex{
  display: flex;
  justify-content: space-evenly;
}
.size{
  width: 120px;
  height: 45px;
  justify-content: space-between;
  align-content: space-between;
  transition: 1s;
}
.size:hover{
  width: 140px;
  height: 50px;
}
